<h1>
    {{ currentHero.id ? 'Editando' : 'Agregando'}} Héroe {{ currentHero.superhero }}
</h1>

<mat-divider class="mb-2"></mat-divider>

    <div class="grid">

        <div class="col-12 sm:col-6">

            <mat-card>
                <mat-card-content>

                    <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()">

                        <mat-form-field class="col-12 sm:col-6">
                            <mat-label>Super Héroe</mat-label>
                            <input
                            matInput
                            type="text"
                            required
                            formControlName="superhero"
                            />
                        </mat-form-field>

                        <mat-form-field class="col-12 sm:col-6">
                            <mat-label>Alter Ego</mat-label>
                            <input
                            matInput
                            type="text"
                            required
                            formControlName="alter_ego"
                            />
                        </mat-form-field>

                        <mat-form-field class="col-12">
                            <mat-label>Primera Aparición</mat-label>
                            <input matInput type="text" required  formControlName="first_appearance"/>
                        </mat-form-field>

                        <mat-form-field class="col-12">
                            <mat-label>Personajes</mat-label>
                            <input matInput type="text" required formControlName="characters" />
                        </mat-form-field>

                        <mat-form-field class="col-12">
                            <mat-label>Editor</mat-label>
                            <mat-select required formControlName="publisher">
                                <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
                                    {{ publisher.desc }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-12">
                            <mat-label>Alternative Image</mat-label>
                            <input matInput type="text" formControlName="alt_img" />
                        </mat-form-field>

                    </form>

                    <button mat-flat-button color="warn" class="mr-2" *ngIf="currentHero.id" (click)="onDeletehero()">
                        <mat-icon>delete</mat-icon>
                        Borrar
                    </button>

                    <button mat-flat-button color="primary" class="ml-2" (click)="onSubmit()">
                        <mat-icon>save</mat-icon>
                        Guardar
                    </button>

                </mat-card-content>
            </mat-card>

        </div>

        <div class="col-12 sm:col-6">
            <mat-card>
                <img [src]="currentHero | heroImage" alt="Imagen del Héroe">
            </mat-card>
        </div>
    </div>

