<div class="flex flex-column">

    <span class="text-center text-lg mb-4">Iniciar Sesión</span>

    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input type="text" matInput placeholder="Escriba su usuario...">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Escriba su contraseña...">
    </mat-form-field>


    <button mat-button mat-flat-button color="primary">
        Ingresar
        <mat-icon>login</mat-icon>
    </button>

    <div class="flex justify-content-center mt-5">
        <a routerLink="/auth/register">¿No tienes cuenta?</a>
    </div>

</div>
